AMSACEWebMonitor/TestProgram/bin
AMSDCMDataTranslator/AMSDCMDataTranslator/bin
AMSDCMDataTranslator/AMSTranslatorService/bin
AMSDCMDataTranslator/TestConsoleProject/bin
AMSMCADataTranslator/AMS.caojin.MCADataTranslator/bin
