AMSACEWebMonitor/TestProgram/bin
AMSACEDataTranslateProject/AMSDCMDataTranslator/bin
AMSACEDataTranslateProject/AMSTranslatorService/bin
AMSACEDataTranslateProject/TestConsoleProject/bin
AMSACEDataTranslateProject/AMS.caojin.MCADataTranslator/bin
AMSACEWebMonitor/AMSACEWebMonitor/bin