AMSACEWebMonitor/TestProgram/bin
AMSACEDataTranslateProject/AMSDCMDataTranslator/bin
AMSACEDataTranslateProject/AMSTranslatorService/bin
AMSACEDataTranslateProject/TestConsoleProject/bin
AMSACEDataTranslateProject/AMS.caojin.MCADataTranslator/bin
AMSACEWebMonitor/AMSACEWebMonitor/bin
AMSACEWebMonitor/TestProgram/obj
AMSACEDataTranslateProject/AMSDCMDataTranslator/obj
AMSACEDataTranslateProject/AMSTranslatorService/obj
AMSACEDataTranslateProject/TestConsoleProject/obj
AMSACEDataTranslateProject/AMS.caojin.MCADataTranslator/obj
AMSACEWebMonitor/AMSACEWebMonitor/obj
AMSACEWebMonitor/TestProgram/Assets
AMSACEDataTranslateProject/AMSDCMDataTranslator/Assets
AMSACEDataTranslateProject/AMSTranslatorService/Assets
AMSACEDataTranslateProject/TestConsoleProject/Assets
AMSACEDataTranslateProject/AMS.caojin.MCADataTranslator/Assets
AMSACEWebMonitor/AMSACEWebMonitor/Assets
AMS.CIM.Caojin.SqlReplicationAnalysisTool/AMS.CIM.Caojin.SqlReplicationAnalysisTool/bin
AMS.CIM.Caojin.SqlReplicationAnalysisTool/AMS.CIM.Caojin.SqlReplicationAnalysisTool/obj
AMS.CIM.Caojin.SqlReplicationAnalysisTool/AMS.CIM.Caojin.SqlReplicationAnalysisTool/Assets
LogManager/FirstFloor.ModernUI.App/bin
LogManager/FirstFloor.ModernUI.App/obj
LogManager/FirstFloor.ModernUI.App/Assets